@media screen and (min-width: 750px), (orientation: landscape) {
    header{
        background-size: 100%;
        min-height: 300px;
    }

    header .button{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin: auto;
    }

    header .button input{
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 1rem;
    }

    header .button .button-1{
        font-size: .8rem;
        padding: 1rem 2rem;
    }

    header .button .button-2{
        font-size: .8rem;
        padding: 1rem 2rem;
    }

    header h1{
        font-size: 2rem;
        margin: auto;
    }

    header p{
        font-size: .5rem;
        margin: auto;
        max-width: 400px;
    }


    main {
        display: grid;
        max-width: 1200px;
        margin: auto;
    }

    main .card{
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px;
        border-radius: 1rem;
        padding: 2rem;
        
    }

    main .card h2{
        width: 300px;
    }

    main .card img{
        max-width: 50%;
    }

    main .card-footer{
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
    }
    
    main .card-footer h1{
        margin: auto;
        width: 300px;
        text-align: center;
    }

    main .card-footer p{
        margin: auto;
        width: 700px;
        text-align: center;
    }

    main .card-inverso{
        flex-direction: row-reverse;
    }

    footer{
        display: flex;
    }

    footer img{
        margin: auto;
    }

  }